@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black min-h-screen;
  }
}

@keyframes gradient-x-shadow {
  0%, 100% {
    box-shadow: 0 0 15px #E95420;
  }
  50% {
    box-shadow: 0 0 15px #1793D1;
  }
}

.animate-gradient-x-shadow {
  animation: gradient-x-shadow 2s linear infinite;
}

.animate-gradient-x-shadow:hover {
  animation: gradient-x-shadow 1.5s linear infinite;
}

@keyframes gradient-x {
  0%, 100% {
    background-size: 200% 100%;
    background-position: left center;
  }
  50% {
    background-size: 200% 100%;
    background-position: right center;
  }
}

.animate-gradient-x {
  animation: gradient-x 15s linear infinite;
}

